<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or register now</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/userLogin.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
</head>

<body>
<div class="wrapper">
    <div class="logo">
        <a th:href="@{/vacBook/user/index}"><img th:src="@{/img/logo.png}"></a>
    </div>
    <center>
        <p>login here As a user</p>
        <input id="account" type="text" name='userAccount' placeholder="Username">
        <input id="password" type="password" name='userPassword' placeholder="Password">
        <button class="shadow p-3 mb-3 bg-body rounded" type="submit" id="login" onclick="return login()">Log In
        </button>
        <br/>
        <a th:href="@{/vacBook/user/register}" class="shadow p-3 mb-3 bg-body rounded" type="submit"
           id="register-button" style="text-decoration: none; width: 350px;color:black;font-size: 18px;">Register</a>
        <div>
            <a th:href="@{/vacBook/user/index}" type="submit" class="btn btn-outline-danger">Back to Home Page</a>
            <a th:href="@{/vacBook/user/forgottenPassword}" type="submit" class="btn btn-light">Forget Password</a>
        </div>
    </center>
</div>
</body>

</html>