<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check your eligibility</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>
  <script type="text/javascript" th:src="@{/js/checkbox.js}" ></script>
</head>

<body>
<div class="wrapper-register">
  <div class="logo">
    <a href="log-in.html"><img id="logo-register" th:src ="@{/img/logo.png}"></a>
  </div>
</div>

<div class="container" style="max-width: 700px; padding-top: 50px; line-height:30px;">
  <h4>Who can get a COVID-19 vaccine</h4>
  <p>Free and safe COVID-19 vaccines are available for everyone aged 12 years and over.</p>
  <p>&nbsp;</p>
  <h4>Helping construction workers get vaccinated</h4>
  <p>Priority COVID-19 vaccine appointments have been made available to help construction workers get their
    COVID-19 vaccination from Monday 13 to Sunday 19 September.</p>
  <p>Limited vaccination centres are offering walk ins for construction workers. </p>
  <p>&nbsp;</p>
  <h4>Reserved Pfizer vaccine appointments</h4>
  <p>Certain people are eligible to access reserved Pfizer appointments regardless of their age. This includes:
  </p>
  <ul>
    <li>All health care workers</li>
    <li>Pregnant women who are at 24 weeks or more into their pregnancy, or have complicated or high-risk
      pregnancies as determined by your health care provider
    </li>
    <li>Public and private residential aged care and disability care workers and residents</li>
    <li>Hotel quarantine and border workers
    </li>
    <li>Household contacts of hotel quarantine and border workers
    </li>
    <li>Household contacts of healthcare workers on COVID-19 wards, screening wards and healthcare workers who
      are likely to interact with COVID-19 patients
    </li>
    <li>Meat and seafood processing worker and associated cold chain transportation
    </li>
    <li>People who are vulnerable and at high risk from COVID-19, including residents of high risk accommodation
    </li>
    <li>Residential care workers
    </li>
    <li>Family violence workers (DFFH-funded)
    </li>
    <li>Family and parenting services staff
    </li>
    <li>Sexual assault services (CASA)
    </li>
    <li>Child protection staff
    </li>
    <li>Housing staff
    </li>
    <li>Correction staff and residents
    </li>
    <li>COVID response authorised officers involved in household engagement programs, hotel quarantine and ports
      of entry.
    </li>
    <li>Victorian Building Authority Authorised Officers
    </li>
    <li>Other care services workforces who undertake frontline activities.
    </li>
  </ul>
  <p>Please check your eligibility before booking.</p>
  <p>&nbsp;</p>
  <h4>People who should seek medical advice before their vaccine </h4>
  <p>If you are currently eligible to receive a COVID-19 vaccine and you have one of the following medical
    conditions you should speak to doctor or regular health professional before you get your COVID-19 vaccine:
  </p>
  <ul>
    <li>
      A history of cerebral venous sinus thrombosis (CVST), heparin-induced thrombocytopenia (HIT), thrombosis with thrombocytopenia syndrome (TTS), idiopathic splanchnic (mesenteric, portal, splenic) vein thrombosis or antiphospholipid syndrome with thrombosis
    </li>
    <li>
      a history of capillary leak syndrome
    </li>
    <li>
      Had immediate (within four hours) and generalised symptoms of a possible allergic reaction (for example, hives) to a previous dose of AstraZeneca vaccine
    </li>
    <li>
      Those who have anaphylaxis after a previous dose of AstraZeneca vaccine
    </li>
    <li>
      Those who have anaphylaxis to polysorbate 80 (a component of AstraZeneca vaccine).
    </li>
    <li>
      Those who have had any other serious adverse events attributed to the first dose of AstraZeneca vaccine.
    </li>
  </ul>
  <form style="padding-bottom: 50px; text-align: right; color: red;" th:action="@{/vacBook/user/checkboxDone}" method="post">
    <div class="checkbox" style="padding-bottom: 20px;">
      <input type="checkbox" id="eligibility" name="eligibility" value="eligibility" onchange="handleChange()" required >
      <label> I can confirm I am eligible to take the vaccine</label>
    </div>
    <a th:href="@{/vacBook/user/index}" type="submit" class="btn btn-outline-danger">Back to Home Page</a>
    <input type="submit"  class="btn btn-success" id="confirm-button" disabled="true" value="Confirm" style="opacity: 0.5;cursor: default"> </input>
  </form>
</div>



</body>

</html>