<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="userPages/index.html">
<head>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/indexBooking.js}"></script>
</head>
<div  layout:fragment="indexBooking" class="book-section page" id="book" style="min-height: 400px;">
    <div class="container">
        <div class="heading">
            <h6>Covid-19</h6>
            <h3>Book</h3>
        </div>
        <div class="search-bar" >
            <form class="search-container">
                <input type="text" id="search-bar" onkeyup="search_box()" name="search" placeholder="Search for specific clinic">
                <input type="hidden" id="userId" name="userId" th:value="${user_id}">
            </form>
        </div>
        <div class="book-table" th:fragment="booking_container" th:id="id_booking_container" >
            <table id="myTable">
                <thead>
                <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Book</th>
                </tr>
                </thead>

                <tr th:each="l:${providers}" class="moreTable blogBox" style="display:none;">
                    <td th:text="${l.getAdminName()}" th:name="provider" data-label="Provider"></td>
                    <td data-label="Brand">
                        <select name="brand" id="brand" style="width: 80%; height: 33px; text-align: center;" required>
                            <option value="">Select your option</option>
                            <div th:each="v:${vaccineList}"
                                 th:if="${l.getAdminId() == v.getAdminId()}">
                                <option th:if="${v.getVaccineName()!=null}"
                                        th:text="${v.getVaccineName()}"
                                        th:value = "${v.getVaccineId()}">
                                </option>
                            </div>
                        </select>
                    </td>
                    <td id="date" data-label="Date">
                        <input type="date" name="date" class="form-control" placeholder="Date of birth" required>
                    </td>
                    <td id="time" data-label="Time">
                        <input type="time" name="time" class="form-control" placeholder="" required>
                    </td>
                    <td data-label="submit" >
                        <div class="book-btn">
                            <!--book按钮 弹窗-->
                            <!--                            <a class="btn" data-bs-toggle="modal" id="show" href="#exampleModalToggle"-->
                            <!--                               role="button" th:onclick="| check( ${lStat.index})|">Book</a>-->
                            <a class="btn" role="button" th:onclick="| check( ${lStat.index})|">Book</a>
                            <!--book按钮 跳转页面-->
                            <!-- <a class="btn" href="./book.html"
                                role="button">Book</a> -->
                        </div>
                    </td>
                </tr>
            </table>
            <div id="loadMore">
                <a href="#">Next Page</a>
            </div>
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                 aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">CONFIRM YOUR
                                BOOKING</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="confirm_content" >
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6"
                                           class="col-form-label">Vaccine:</label>
                                </div>
                                <div class="col-auto">
                                    <span id="confirm_brand">{vaccine-brand}</span>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Name:</label>
                                </div>
                                <div class="col-auto">
                                    <span id="confirm_name" th:text="${firstName}+' '+${lastName}">{firstName}+{lastName}</span>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Date &
                                        Time:</label>
                                </div>
                                <div class="col-auto">
                                    <span id="confirm_date">{date} + {time}</span>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword6"
                                           class="col-form-label">Provider:</label>
                                </div>
                                <div class="col-auto">
                                    <span id="confirm_provider">{provider}</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-bs-target="#exampleModalToggle2"
                                    data-bs-toggle="modal" data-bs-dismiss="modal" onclick="saveBooking()">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                 aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Thanks for your booking</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="book-info">
                            <p style="text-align: left;">Thanks for your booking, your booking is
                                now confirmed. You will
                                receive a confirmation email soon. </p>
                            <div class="book-info" style="text-align: left;">
                                <p style=" font-family: 'Red Hat Display', sans-serif;
                                                   font-weight: 700;">Your booking information is:</p>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="inputPassword6"
                                               class="col-form-label">Vaccine:</label>
                                    </div>
                                    <div class="col-auto">
                                        <span id="confirm_brand1">{vaccine-brand}</span>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="inputPassword6"
                                               class="col-form-label">Name:</label>
                                    </div>
                                    <div class="col-auto">
                                        <span id="confirm_name1" th:text="${firstName}+' '+${lastName}">{firstName}+{lastName}</span>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="inputPassword6" class="col-form-label">Date &
                                            Time:</label>
                                    </div>
                                    <div class="col-auto">
                                        <span id="confirm_date1">{date} + {time}</span>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="inputPassword6"
                                               class="col-form-label">Provider:</label>
                                    </div>
                                    <div class="col-auto">
                                        <span id="confirm_provider1">{}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer btn-back">
                            <a role="button" data-bs-dismiss="modal" aria-label="Close">Back to the home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("date")[0].setAttribute('min', today);
    </script>
</div>

</html>