<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="adminPages/base.html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--   layer import-->
  <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
</head>
<div layout:fragment="content" class="container"
     style="max-width: 700px; margin-top: 50px; padding-top: 30px;  padding-bottom: 30px; line-height:30px; border: 1px solid #e3e3e3;background-color: #FFF9F9">
  <h1 align="center" style="font-family:'ABeeZee', sans-serif">Booking List Info</h1>
  <form action="" th:object="${result}" method="put">

    <table class="table table-striped" style="border: 1px solid #e3e3e3;">
      <tbody style="text-align: center;font-family:'ABeeZee', sans-serif">

      <tr >
        <th>ID</th>
        <th>Date</th>
        <th>Period</th>
        <th>Vaccine</th>
        <th>View User</th>
        <th>Operation</th>
      </tr>
      <tr th:each="l:${bookingList1}" style="text-align: center">
        <td th:text="${l.getBookingId()}" />
        <td th:text="${l.getDate()}"/>
        <td th:text="${l.getPeriod()}"/>
        <td th:text="${l.getVaccine()}"/>
        <td style="text-align: center">
          <a th:href="@{/vacbook/admin/bookings/user/{userId} (userId = ${l.getUserId()})}" th:text="${l.getUser()}">
            <input style="background-color: dimgray" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" th:value="${l.getUser()}"/>
          </a>
        </td>
        <td>
          <button style="background-color: darkred" type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-id="delBooking" th:onclick="del_booking(this,[[${l.getBookingId()}]])">
            Reject</button>
        </td>
      </tr>
      </tbody>
    </table>


  </form>
</div>
</html>
