<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="adminPages/base.html">
<div layout:fragment="content" class="container"
     style="max-width: 700px; margin-top: 50px; padding-top: 30px;  padding-bottom: 30px; line-height:30px; border: 1px solid #e3e3e3; background-color: #FFF9F9">
    <h1 align="center" style="font-family: 'ABeeZee', sans-serif">Information</h1>

    <table class="table table-striped" style="border: 1px solid #e3e3e3;">

        <tbody style="text-align:center; font-family:'ABeeZee', sans-serif" >
        <tr>
            <th>Admin account: </th>
            <td><span th:text="${result.account}"></span></td>
        </tr>
        <tr>
            <th>Admin name: </th>
            <td><span th:text="${result.name}"></span></td>
        </tr>
        <tr>
            <th>Admin location: </th>
            <td><span th:text="${result.location}"></span></td>
        </tr>
        <tr>
            <th>Vaccines: </th>
            <td><span th:text="${result.vaccines}"></span></td>
        </tr>
        <tr>
            <th>Total booking num: </th>
            <td><span th:text="${result.booking_num}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</html>